[submodule "nep"]
	path = nep
	url = ../nep-documentation.git
[submodule "troubleshooting"]
	path = troubleshooting
	url = ../troubleshooting-userguide.git
[submodule "satayo"]
	path = satayo
	url = ../satayo-userguide.git
